body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
}

div {
    cursor: default;
}

div#app {
    width: 900px;
    height: 500px;
    border: solid #009 3px;
    border-radius: 25px;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    background: white;

    overflow: hidden;
}

/* Navigational 'tab' selector */
div.tab-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #555;
}

div.tab-body {
    padding-left: 1em;
    width: 100%;
}

.critical {
    background-color: red;
}

h1 {
    font-size: 110%;
}

table.joystick {
    width: fit-content;
}

table.joystick td, table.joystick tr {
    width: auto;
    height: auto;
    text-align: center;
}

.joystick button {
    width: 4em;
    height: 4em;
}

.joystick button.small {
    width: 2.5em;
    height: 2.5em;
}

div.script-input-selector {
    display: flex;
    width: 100%;
    min-height: 0;
    flex-direction: column;
}

div.script-options {
    display: flex;
    flex-direction: row;
}

div.script-list, div.layout-list {
    width: 50%;
}

div.script, div.layout {
    border: solid black 1px;
    border-radius: 4px;
    padding: 6px;
    margin: 2px;
}

div.selected {
    background-color: #8F8;
}

div.script-step-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    min-height: 0;
}

div.script-step span.unlocated {
    text-decoration: underline;
    text-decoration-color: red;
}

div.learn-controller {
    height: 100%;
}

div.learner {
    height: 100%;
    overflow-y: scroll;
}

.learner td.position {
    text-align: right;
    width: 2em;
}

.learner button {
    margin: 0.25em;
    font-size: 120%;
}

div.row {
    display: flex;
}

span.tab-item {
    text-align: center;
    min-width: 6em;
    font-weight: bold;
    font-size: 110%;
    border: solid transparent 2px;
    border-radius: 10px;
    margin-left: 0.4em;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 12px;
    background: black;
    color: white;
}

span.tab-item.selected {
    background: white;
    color: black;
    border: solid #555 2px;
    border-right: none;
    border-radius: 10px 0 0 10px;
    margin-right: 0px;
}

div.learner {
    overflow: scroll;
    flex-shrink: 1;
}

div.controller {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

button.control-button {
    background: #DDD;
    border-radius: 1em;
    text-align: left;
    width: 7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-size: 150%;
}

div.controller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

td.unlocated {
    background: #F88;
}

div.horizontal-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.full-height {
    height: 100%;
}

div.vertical-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.learn-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2em;
}

div.learner-left-side {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.learner-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
}

div.learn-target {
    width: 18em;
    height: 5em;
    word-wrap: normal;
}

table.positions-to-learn td {
    padding-left: 1em;
}

div.learner-toolbar button {
    width: 6em;
    height: 2em;
}